<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/redned_orange.ico" type="image/svg" />
    <title></title>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="title-slide">
            <h2>
                Het verlenen van hulp bij een incident
            </h2>
            <h3>
                Uitvoering van een redding
            </h3>
        </section>
        <section>
            <h3>Risico-inventarisatie</h3>
            <p>Risico = kans x gevolg</p>
            <img src="<%= require('./img/ria.png') %>" alt="" class="w-1/4 mx-auto">
        </section>
        <section>
            <h3>Te water gaan</h3>
            <ul>
                <li>Voorzichtig te water gaan</li>
                <li>Schredesprong</li>
                <li>Rechtstandige sprong</li>
            </ul><ul>
                <li>Compact jump</li>
                <li>Wadend</li>
                <li>Startsprong</li>
            </ul>
        </section>
        <section>
            <h3>

            </h3>
        </section>
        <section>
            <h3><a href="../reddingsmiddelen/">Reddingsmiddelen ></a></h3>
            <h4><a href="../">Terug naar het overzicht ></a></h4>
        </section>
    </div>
</div>
</body>
</html>