@import "../../../themes/reddingsbrigade";

.water {
  background: linear-gradient(theme('colors.blue.300'), theme('colors.blue.500'), theme('colors.blue.900'));
  width: 100%;
  height: 50vh;
  display: block;
  position: relative;
  overflow: hidden;

  .redders-container {
    height: 100%;
  }

  .covered {
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(0, 255, 0, .4);

    &.visible {
      width: 100%;
    }

    transition: width 1s linear !important;
  }

  .redders {
    position: absolute;
    left: 0;
    height: 100%;
    width: 1.3em;
    background: url('../../../themes/reddingsbrigade/img/redned.svg');
    transition: left 1s linear !important;

    &.current-fragment {
      left: 100%;
    }

    &.fragment {
      opacity: 1 !important;
      visibility: inherit !important;
    }

    &.half {
      transition-delay: 500ms !important;
      height: 60%;
    }
  }

  & > .redders-container {
    &:not(.visible):first-child {
      visibility: inherit;
      opacity: 1;
    }
  }

  &__twice {
    & > .redders-container:last-child {
      .covered {
        right: 0;
        left: auto !important;
        width: 0;
        bottom: 0;

        &.current-fragment {
          width: 100%;
        }
      }

      .redders {
        top: 40%;
        left: 100%;

        &.current-fragment {
          visibility: inherit !important;
          opacity: 1;
          left: -10%;
        }
      }
    }


    & > .redders-container {

      .covered {
        height: 60%;
        transition-delay: 500ms !important;
      }

      &:not(.visible):first-child {
        visibility: inherit;
        opacity: 1;
      }

      &.visible:not(.current-fragment) {
        visibility: hidden !important;
      }
    }
  }

  &__breath {
    .redders-container > {
      $elements: 3;
      @for $i from 1 to $elements {
        &:nth-child(#{$i + 1}) .redders, &:nth-child(#{$i + 1}) .covered {
          left: percentage((($i * 40)-(10 * $i))/100) !important;
        }
      }

      .redders {
        transition: top 1s linear !important;
        top: 0;
        height: 1.6em;
        width: 40%;

        &.visible:not(.current-fragment){
          visibility: hidden !important;
        }

        &.visible {
          top: 100%;
          left: inherit;
        }
      }

      .covered {
        top: 0;
        width: 40%;
        height: 0;
        transition: height 900ms linear !important;

        &.visible {
          height: 100%;
        }
      }
    }

    .redders-container:nth-child(even) {
      .covered {
        bottom: 0;
        top: inherit;
      }
      .redders {
        bottom: -1.6em;
        top: calc(100% - 1.6em);
        &.visible {
          top: -1.6em;
        }
      }
    }
  }
}