<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/redned_orange.ico" type="image/svg" />
    <title>Lifesaver - Strand</title>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="title-slide">
            <h2>
                Strand
            </h2>
            <h3>

            </h3>
        </section>
        <section>
            <h4><a href="..">Terug naar het overzicht ></a></h4>
        </section>
    </div>
</div>
</body>
</html>