<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/redned_orange.ico" type="image/svg"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="reveal">
    <div class="slide-background present" style="display: block"></div>
    <div class="slides text-left flex items-center">
        <section class="present text-2xl text-left">
            <h1>
                Module Verlenen Van Hulp Bij Een Incident
            </h1>
            <p>Welkom bij de module verlenen van hulp bij een incident. In deze module leer je hoe je hulp kan verlenen als er een incident plaatsvind. We bekijken wat daarbij de grootste aandachtspunten zijn onderverdeeld in de volgende onderwerpen:</p>
            <ul class="filelist ml-16">
                <li class="text-gray-500">Gevaren baders & zwemmers</li>
                <li class="text-gray-500">Waterhulpverlening</li>
                <li class="text-gray-500">Uitvoering van een redding</li>
                <li class="text-gray-500">Reddingsmiddelen</li>
                <li class="text-gray-500">Grepen</li>
                <li class="text-gray-500">Speciale reddingen</li>
            </ul>
            <ul>
                <li class="text-gray-500">Gebuik reddingsbrigadevaartuig</li>
                <li class="text-gray-500">Verlenen van eerste hulp</li>
                <li class="text-gray-500">Leidinggeven</li>
                <li class="text-gray-500">Communicatie</li>
                <li class="text-gray-500">Psychische hulp</li>
                <li class="text-gray-500">Rampenbestrijding & multidisciplinaire inzet</li>
            </ul>

            <p><a href="../">< Terug naar het overzicht</a></p>

        </section>
    </div>
</div>

</body>
</html>