<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/redned_orange.ico" type="image/svg" />
    <title>Waterhulpverlening</title>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="title-slide">
            <h2>
                Het verlenen van hulp bij een incident
            </h2>
            <h3>
                Waterhulpverlening
            </h3>
        </section>
        <section>
            <h3>Hulpverleningsketen</h3>
            <canvas id="childDrowning" height="90%"></canvas>
        </section>
        <section>
            <h3>1. Gevaar / Incident</h3>
            <p>Een onwenselijke situatie met gevaar voor gezondheid van een of meerdere personen</p>
            <ul class="text-2xl">
                <li>Zo snel mogelijk optreden bij gevaar</li>
                <li>Preventieve maatregelen (informeren, waarschuwen, verwijzen)</li>
                <li>Gevaar kan ontaarden in een incident</li>
            </ul>
        </section>
        <section>
            <h3>2. Situatiebewustwording</h3>
            <div class="flex items-center">
            <p class="w-2/3 text-left">Word je zo snel mogelijk bewust van wat er gebeurd is maar ook van de zaken die om het incident spelen.</p>
                <div class="w-1/3"><img src="<%= require('./img/incidentbox.png')%>" alt=""></div>
            </div>
        </section>
        <section>
            <h3>3. Methode keuze</h3>
            <p>De leidinggevende maakt hier de afweging hoe de redding uitgevoerd moet worden. Dit kan afhangen van:</p>
            <ul>
                <li>Aantal lifeguards</li>
                <li>Kennis en kunde van lifeguards</li>
                <li>Beschikbare middelen</li>
                <li>Omstandigheden als weer en drukte</li>
            </ul>
        </section>
        <section>
            <h3>4. Uitvoering</h3>
            <p>De redding word uitgevoerd volgens de gekozen methode. Blijf beoordelen of er iets wijzigd en het plan dus moet wijzigen.</p>
        </section>
        <section>
            <h3>5. Afronding</h3>
            <p>Na een redding moeten de volgende taken nog gebeuren:</p>
            <ul>
                <li>Evalueren en leerpunten bepalen</li>
                <li>Is er extra nazorg nodig?</li>
                <li>Materiaal schoonmaken en opruimen</li>
                <li>Verslaglegging</li>
                <li>Extra preventieve maatregelen inzetten</li>
            </ul>
        </section>
        <section>
            <h3>6. Voorbereiding</h3>
            <p>Voor en na een incident moet er goed voorbereid worden.</p>
            <ul>
                <li>Train op veelvoorkomende incidenten</li>
                <li>Zorg dat het juiste materiaal en personeel aanwezig is</li>
                <li>Voorkomen van nieuwe incidenten</li>
                <li>Hou je kennis en kunde op pijl</li>
            </ul>
        </section>
        <section>
            <h3>BOB-methode</h3>
            <ul>
                <li>Beeldvorming</li>
                <li>Oordeelvorming</li>
                <li>Besluitvorming</li>
            </ul>
        </section>
        <section>
            <h3>Beeldvorming</h3>
            <p>Zorg dat je een beeld vormt van het incident en snapt welke factoren er spelen.</p>
            <ul class="text-3xl">
                <li>Maak eerst zelf een beeld van het incident</li>
                <li>Vergaar daarna informatie van anderen</li>
                <li>Vind een plaats met overzicht</li>
                <li>Kijk breed en vooruit naar wat er nog kan gebeuren</li>
            </ul>
        </section>
        <section>
            <h3>Oordeelvorming</h3>
            <p>Nu je op de hoogte bent van de problemen:</p>
            <ul class="text-3xl">
                <li>Prioritiseer de problemen</li>
                <li>Kijk welke oplossingen per probleem beschikbaar zijn</li>
                <li>Maak een 'agenda' van wat er moet gebeuren</li>
            </ul>
        </section>
        <section class="text-left">
            <h3 class="text-center">Besluitvorming</h3>
            <p>Nu dat je een agenda hebt gemaakt hak je knopen door en deel je opdrachten uit.</p>
            <p>Leidinggevende maken vaak veel beslissingen onder hoge druk.</p>
            <p>Veilige keuzes leiden hooguit tot vervelende evaluaties. Riskante keuzes kunnen vervelendere gevolgen hebben.</p>
        </section>
        <section>
            <h2>De reddingsactie in zes stappen</h2>
        </section>
        <section>
            <h3><a href="../redden/">Uitvoering van een redding ></a></h3>
            <h4><a href="../">Terug naar het overzicht ></a></h4>
        </section>
    </div>
</div>
</body>
</html>