/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
@import "~reveal.js/css/reset.css";
@import "~reveal.js/css/reveal";
// Default mixins and settings -----------------
@import "~reveal.js/css/theme/template/mixins";
@import "~reveal.js/css/theme/template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import '~reveal.js/lib/font/source-sans-pro/source-sans-pro.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

$orange: #ff5800;
$red: #d52b1e;
$yellow: #f9e300;
$yellowOrange: #eef163;
$blue: #0065bd;
$cyan: #009fda;

$mainColor: $cyan;

$backgroundColor: #ffffff;
$linkColor: $orange;
$linkColorHover: $red;
$controlsArrowAngle: 40;

$headingFont: 'Source Sans Pro';
$headingFontWeight: 600;

// Theme template ------------------------------
@import "~reveal.js/css/theme/template/theme";
// ---------------------------------------------
.reveal {

  &.overview {
    .slides section {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
    }

    .slide-background {
      &:after, &:before {
        display: none;
      }
    }
  }


  section {
    img {
      border: none;
      @apply shadow-none;
      background: none;
      margin: 0;
    }

    q {
      color: #000000;
      background: $yellowOrange;
      padding: 5px;
      display: block;
    }

    .fragment {
      &.fade-in-then-out {
        transition: height 2s, opacity 1s;
        height: 0;
        &.current-fragment {
          height: auto;
        }
      }
    }
  }

  .slide-background {

    &:before {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 2px $orange solid;
      height: 5.7rem;
    }

    &.title-slide {
      background: $orange;

      &:before {
        background: #ffffff;
      }
    }

    &:after {
      content: 'Enschede';
      background-image: url('./img/redned_vol.svg');
      background-size: cover;
      width: 14rem;
      height: 3.7rem;
      position: fixed;
      top: 1rem;
      left: 2rem;
      font-size: .3em;
      display: inline-flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 0 1.1rem;
      color: $cyan;
    }
  }


  /*********************************************
   * HEADERS
   *********************************************/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 20px 0;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
  }


  section:not(.title-slide) h1,
  section:not(.title-slide) h2,
  section:not(.title-slide) h3,
  section:not(.title-slide) h4,
  section:not(.title-slide) h5,
  section:not(.title-slide) h6 {
    color: $orange;
  }

  ul {

    > li {
      margin: 0 0 14px;
      list-style-type: none;

      &.plus:before {
        content: '+';
        color: $orange;
        opacity: 1;
        background: none;
      }

      &.minus:before {
        content: '-';
        color: $orange;
        opacity: 1;
        background: none;
      }

      &:before {
        content: '';
        display: inline-block;
        height: .9em;
        width: .9em;
        background-image: url('./img/reddingsboei_icon.svg');
        background-size: cover;
        position: relative;
        top: .1em;
        left: -15px;
        opacity: .6;
      }

      li {
        list-style-type: circle;

        &:before {
          content: none;
        }

        &:first-child {
          margin-top: 14px;
        }

        margin-left: 1em;
      }
    }
  }
}