<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/redned_orange.ico" type="image/svg" />
    <title></title>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="title-slide">
            <h2>
                Verdrinkingen
            </h2>
            <h3>

            </h3>
        </section>
        <section>
            <h2>Wat is een verdrinking?</h2>
            <ul>
                <li>Onderdompeling met ademhalingsproblemen als gevolg</li>
                <li>Meestal stil en zonder gebaren</li>
                <ul>
                    <li>Dus niet zoals in de films!</li>
                </ul>
                <li>Kan binnen 20-60 seconden gebeurd zijn</li>
                <li>Bij kinderen zelfs sneller</li>
            </ul>
        </section>
        <section>
            <h2>Voorbeelden van verdrinking</h2>
            <p class="text-2xl">Een persoon die...</p>
            <div class="flex justify-center mx-auto flex-shrink text-3xl">
                <ul>
                    <li class="fragment">Niet kan zwemmen</li>
                    <li class="fragment">Onwel is geworden</li>
                    <li class="fragment">Totaal is uitgeput </li>
                </ul><ul>
                    <li class="fragment">Een poging zelfdoding onderneemt</li>
                    <li class="fragment">Onderkoeld is geraakt</li>
                    <li class="fragment">Met voertuig te water is</li>
                </ul>
            </div>
        </section>
        <section>
            <h2>Signalen</h2>
            <div class="flex justify-center mx-auto flex-shrink text-3xl">
                <ul>
                    <li class="fragment">Armen gespreid of onzichtbare ladder aan het beklimmen</li>
                    <li class="fragment">De mond is onderwater</li>
                    <li class="fragment">De benen worden niet gebruikt</li>
                    <li class="fragment">Hoofd ligt achterover</li>
                    <li class="fragment">Kan niet om hulp roepen (te druk met lucht happen)</li>
                    <li class="fragment">Kan niet zwaaien</li>
                    <li class="fragment">Liggen bijna verticaal in het water</li>
                </ul>
            </div>
        </section>
        <section class="text-left">
            <h2 class="text-center">Statistieken</h2>
            <ul>
                <li>Per jaar 100-200 verdrinkingsdoden in Nederland</li>
                <li>De helft hiervan is jonger dan 20 jaar</li>
                <li>Daar de helft van is jonger dan 5 jaar</li>
            </ul>
            <p></p>
            <ul>
                <li>Meld ongevallen altijd bij de politie</li>
            </ul>
        </section>
        <section>
            <h2>Statistieken</h2>
            <p class="text-3xl">Verdrinkingen bij kinderen jonger dan 10 jaar naar plaats, 2003/2005</p>
            <canvas id="childDrowning" height="90%"></canvas>
        </section>
        <section>
            <h2>Gevaarlijke zwemplaatsen</h2>
            <p class="text-3xl">Zwemmen kan in alle soorten water gevaarlijk zijn o.a. door medische redenen, afdrijven, niet kunnen zwemmen, etc.</p>
            <p class="text-3xl">Schat het gevaar in door te kijken naar:</p>
            <div class="flex justify-center">
            <ul>
                <li>(On)zichtbaarheid</li>
                <li>Temperatuur</li>
                <li>Diepte</li>
                <li>Stroming</li>
            </ul>
            <ul>
                <li>Bodemgesteldheid</li>
                <li>Golfslag</li>
                <li>Wind</li>
                <li>Scheepsvaart</li>
            </ul>
            </div>
        </section>
        <section>
            <h2>Oppervlaktewater</h2>
            <p>Naast zeewaters en meren hebben we 4 soorten oppervlaktewater:</p>
            <ul>
                <li>Sierwateren (bijv. vijver)</li>
                <li>Waterbeheersing (bijv. singels en duikers)</li>
                <li>Recreatie- en beroepsvaart (bijv. kanalen en rivieren)</li>
                <li>Alle andere wateren (plassen door grind- en zandwinning)</li>
            </ul>
        </section>
        <section>
            <h3>Bruggen, steigers, duikers en sluizen</h3>
            <div class="flex">
                <img src="<%= require('./img/sprong.png') %>" class="w-1/5" alt="">
                <ul>
                    <li>Bruggen moeten stevige leuningen hebben met <b>verticale</b> spijlen</li>
                    <li>Springen bij ondoorzichtig water is risicovol!</li>
                    <li>Stijgers hebben het risico dat kinderen onbedoeld te water raken</li>
                    <li>Stromingen en scheepvaart bij sluizen is een risico</li>
                </ul>
            </div>
        </section>
        <section>
            <h2>Zwembad</h2>
            <ul>
                <li>Toezicht houden en regels handhaven is belangrijk!</li>
                <li>Elektronische middelen zijn beschikbaar maar vervangen toezicht niet</li>
                <li>Ook gevaar buiten het water: glijbanen en gladheid bijv.</li>
            </ul>
        </section>
        <section>
            <h2>Stilstaand open water</h2>
            <ul>
                <li>Provincie & Rijkswaterstaat testen water</li>
                <li>Risico op o.a.</li>
                <ul>
                    <li>Blauwalg</li>
                    <li>Botulisme</li>
                </ul>
                <li>Spoel af met schoon water na contact</li>
                <li>Raadpleeg arts bij klachten na redding</li>
            </ul>
        </section>
        <section>
            <h2>Stromend open water</h2>
            <ul>
                <li>Gevaarlijk, kan voor verrassing zorgen</li>
                <li>Midden recht stuk & buitenbocht stromen het snelst</li>
                <li>Verschillende oorzaken voor stroming:</li>
                <div class="flex">
                    <ul>
                        <li>Hoogteverschil</li>
                        <li>Scheepsvaart</li>
                    </ul>
                    <ul>
                        <li>Windkracht</li>
                        <li>Stand van zon & maan</li>
                    </ul>
                </div>
            </ul>
        </section>
        <section>
            <h2>Preventie - Voorlichting</h2>
            <div class="">
            <ul>
                <li>Zwemlessen!</li>
                <li>Demonstraties & oefeningen</li>
                <li>Gebruik (sociale) media</li>
            </ul>
            <q class="text-lg m-12">Vertel als lid van de reddingsbrigade zo veel mogelijk over de manier waarop mensen verdrinkingsongevallen kunnen voorkomen</q>
            </div>
        </section>
        <section>
            <h2>Preventie - Waarschuwen</h2>
            <div class="flex justify-center">
                <img src="<%= require('./img/vlaggen.gif') %>" class="w-1/4" alt="">
                <ul>
                    <li>Border & vlaggen</li>
                    <li>Flyers</li>
                    <li>06-polsbandjes</li>
                    <li>(Sociale) media</li>
                </ul>
            </div>
        </section>
        <section>
            <h2>Preventie - Toezicht houden</h2>
            <ul>
                <li>Plekken als watersport, recreatie en het strand</li>
                <li>Zorg voor de juiste reddingsmiddelen op de juiste plek</li>
                <li>Laat je niet afleiden!</li>
                <li class="font-bold">Eigen veiligheid!</li>
            </ul>
        </section>
        <section>
            <h2>Vaardigheden</h2>
            <ul>
                <li>Leer zwemmen!</li>
                <li>Leer je eigen veiligheid te waarborgen</li>
                <li>Leer om juist te alarmeren</li>
                <li>Leer wat te doen als je zelf in moeilijkheden bent</li>
                <li>Leer wat te doen als een ander in moeilijkheden is</li>
            </ul>
        </section>
        <section>
            <h2>Veiligheid - Zelf drenkeling</h2>
            <ul>
                <li>Blijft rustig!</li>
                <li>Drijf op je rug</li>
                <li>Probeer te roepen of te zwaaien</li>
                <li>Ga nooit alleen zwemmen</li>
            </ul>
        </section>
        <section>
            <h2>Veiligheid - Zelf redder</h2>
            <ul>
                <li>Denk aan je eigen veiligheid</li>
                <li>Droge redding altijd eerst!</li>
                <li>Trek eerst zware kleding uit</li>
                <ul><li class="text-2xl">Houd lichte schoenen wel aan</li></ul>
                <li>Geen onnodige risico's</li>
                <li>Houdt je conditie en zwemvaardigheid op pijl</li>
            </ul>
        </section>
        <section>
            <h2>Zelfredding</h2>
            <ul>
                <li>Leer goed watertrappelen</li>
                <li>Leer goed drijven</li>
                <li>Leer hulpmiddelen goed te gebruiken</li>
                <li>Leer de HELP-houding</li>
                <ul><li>Heat Escape Lessening Posture</li>
                <li>Gebruik reddingsvest, kleding, vuilniszak, etc.</li></ul>
            </ul>
        </section>
        <section>
            <h2>Alarm slaan</h2>
            <ul>
                <li>Bel 112 <span class="italic">(opdracht, geen vraag!)</span></li>
                <li><span class="font-bold">(WAT)</span> Vraag om politie/brandweer/ambulance/...</li>
                <li><span class="font-bold">(WAAROM)</span> Voor een drenkeling</li>
                <li><span class="font-bold">(WAAR)</span> In het Rutbeek in Enschede</li>
                <li>En meld je weer als je gebeld hebt</li>
            </ul>
        </section>
        <section>
            <h3><a href="../gevaren">Volgende presentatie ></a></h3>
            <h4><a href="..">Terug naar het overzicht ></a></h4>
        </section>
    </div>
</div>
</body>
</html>
