<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="reveal">
    <div class="slide-background present" style="display: block"></div>
    <div class="slides text-left flex items-center">
        <section class="present text-left">
            <h1>
                Module Toezichthouden
            </h1>
            <p>Welkom bij de module toezichthouden. In deze module leer je hoe je gevaarlijke situaties kan herkennen. Zo
                kan je vroegtijdig ingrijpen om te voorkomen dat er een incident plaats vindt. De module is opgesplitst
                in de volgende onderwerpen:
            </p>
            <ul class="filelist">
                <li><a href="./professionalisme/">Professionalisme</a></li>
                <li><a href="./preventie/">Preventie</a></li>
                <li><a href="./verdrinkingen/">Verdrinkingen</a></li>
                <li><a href="./gevaren/">Gevaren</a></li>
                <li><a href="./zonesEnScannen/">Zones en Scannen</a></li>
                <li><a href="./zwembad/">Zwembad</a></li>
                <li><a href="./openWaterEnBeach/">Open Water en Beach</a></li>
            </ul>
        </section>
    </div>
</div>

</body>
</html>