<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/redned_orange.ico" type="image/svg" />
    <title></title>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="title-slide">
            <h2>
                Grootschalige Incidenten
            </h2>
            <h4>
                en hoe Nederlandse hulpdiensten er mee omgaan
            </h4>
        </section>
        <section>
            <h4><a href="..">Terug naar het overzicht ></a></h4>
        </section>
    </div>
</div>
</body>
</html>